.s-button{
    font-family: "Cooper Hewitt", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    width:28rem;
    padding:1.2rem 1.2rem;
    background-color: black;
    color: white;
    border-radius: 16px;
}

.form-container{
    height:32rem;
    width:26rem;
    background-color: #F1991B;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:1.3rem;
    border:solid black 4px;
}

.question-box{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:0 10px;
    
}

.question-text{
    font-size:1.2rem;
    margin-bottom: 20px;
}

.navigation-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top: 10px;
}


.textarea-question {
}


.multi-select-question {
   
}


.text-input,
.textarea-input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: monospace;
}

.textarea-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.2;
    overflow-y: auto;
    white-space: pre-wrap;
    resize: vertical;
    height: 100px;
    max-height: 300px;
}


.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.option-button {
    background-color: #FCEEE3;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.option-button:hover{
    background-color: black;
    color:white;
}

.option-button.selected {
    background-color: #24B577;
    color: white;
}


.error-text {
    color: #f83c3c;
    font-size: 14px;
}

.review{
    font-family: monospace;
    margin-top:20px;
    width:8rem;
    padding:20px 24px;
    font-size: 1.2rem;
    border-radius: 16px;
    background-color: #F1991B;
}


@media(max-width:720px){
    .s-button{
        font-size: 1.8rem;
        width: 16rem;
        padding: 0.8rem 0.8rem;
    }

    .form-container{
        width:17rem;
       min-height:24rem;
       height:auto;
        padding:0.8rem;
    }

    .question-text{
        font-size: 1rem;
    }

    .navigation-buttons img{
        width:3rem;
    }

    .option-button{
        font-size: 0.7rem;
        padding:5px 8px;
    }

    .review{
        width: 8rem;
        padding: 16px 18px;
        font-size: 1.2rem;
    }
}
